<p style="color: green"><%= notice %></p>

<p>
<strong>Image:</strong>
<%= image_tag @pic.image.url %>
</p>

<div>
  <%= link_to "Edit this pic", edit_pic_path(@pic) %> |
  <%= link_to "Back to pics", pics_path %>

  <%= button_to "Destroy this pic", @pic, method: :delete %>
</div>
